<body id="'emp_body">
    <table id="emp_table">
        <tr>
            <th id="emp_table_header">EID</th>
            <th id="emp_table_header">Name</th>
            <th id="emp_table_header">Role</th>
            <th id="emp_table_header">Salary</th>
            <th id="emp_table_header">Update</th>
        </tr>
        <% employees.forEach((e) => { %>
        <tr>
            <td id="emp_table_data">
                <%= e.eid  %>
            </td>
            <td id="emp_table_data">
                <%= e.ename  %>
            </td>
            <td id="emp_table_data">
                <%= e.role %>
            </td>
            <td id="emp_table_data">
                <%= e.salary  %>
            </td>
            <td id="emp_table_data">
                <a href='./employees/edit/:<%= e.eid %>'>Update</a>
            </td>
            <% }) %>
        </tr>
    </table>
</body>





